appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
distlib==0.3.8
Django==4.2.10
django-bootstrap-v5==1.0.11
django-bootstrap5==24.3
filelock==3.15.4
frozendict==2.4.0
html5lib==1.1
idna==3.6
lxml==5.1.0
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==1.26.3
pandas==2.2.2
peewee==3.17.0
pipenv==2024.0.1
platformdirs==4.2.2
pycparser==2.22
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
setuptools==69.0.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
srt==3.5.3
tqdm==4.66.5
tzdata==2023.4
urllib3==2.2.0
virtualenv==20.26.3
vosk==0.3.45
webencodings==0.5.1
websockets==13.1
yfinance==0.2.35
